<html>
    <head>
        <style>
            .contenedor{
                display: block;
                width: 90%;
                max-width: 700px;
                margin: 0 auto;
            }
            .cabecera{
                width: 100%;
                padding: 17px 20px;
            }
            .logo{
                display: block;
                width: 200px;
                margin: 0 auto;
            }
            .cuerpo{
                display: block;
                width: 100%;
                padding: 17px 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            .pie-de-pagina{
                display: block;
                width: 100%;
                padding: 30px 20px;
            }
            .pie-de-pagina table td{
                vertical-align: middle;
                padding: 10px;
            }
            .informacion{
                
            }

            /* fuentes */
            .primario{
                color: #00a3dd;
            }
            .secundario{
                color: #39316b;
            }
            .gris{
                color: #666465;
            }
            .negrita{
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="contenedor">
            <div class="cabecera">
                <div class="logo" style="width: 300px;">
                    <img width="140px" src="{{ logo }}" alt="supertransporte">
                </div>
            </div>
            <div class="cuerpo">
                <h2 class="primario">Estimados representantes de: <small>{{ razonsocial }}</small></h2>
                <p class="gris">Por medio de la presente, nos permitimos informarles que se les ha emitido un requerimiento, el cual deberá ser atendido en los plazos establecidos.<br><br>
                                Agradecemos su atención a este requerimiento ingresando al Sistema inteligente de supervisión al transporte..
                </p>
                <h3 class="primario">Atentamente.</h3>                
            </div>
        </div>
    </body>
</html>